.btn-default {
    width: 100%;
    height: 200px;
}

.panel-default {
    height: 25px;
    line-height: 25px;
}

li {
    width: 100%;
}

a {
    text-align: center;
}

.letter {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

#coin-image {
    height: 40%;
    width: 40%;
}

.page-header {
    width: fit-content;
    border-bottom: 0px;
}

#page-header-text-custom {
    margin: auto auto;
}

#header-custom {
    background: rgba(111, 95, 172, 0.507);
    margin-bottom: 25px;
}

#header-buttons {
    height: 108px;
}

.col-xs-12 {
    height: 108px;
}

.nav-pills {
    height: 108px;
}

.panel-body {
    margin-top: 33%;
    font-size: 40px;
    text-align: center;
}

.panel-default {
    height: 200px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

h2 {
    line-height: 100px;
}

.jumbotron {
    padding-left: 15px;
}